.side-bar {
    padding: 10px;
    width: 300px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
    background: #61dafb;
}

.side-bar a {
    width: 250px;
    color: #282c34;
    text-decoration: none;
    display: block;
    padding: 20px;
    background: aliceblue;
}
.side-bar a [class = 'active'] {
    text-decoration: none;
    display: block;
    padding: 20px;
    background: blueviolet;
}